@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  overflow-x: hidden;
}

h1, p {
  font-family: Lato;
}

.dd-font {
  font-family: 'IBM Plex Mono', monospace;
}
.dd-menu {
  font-family: 'Open Sans', sans-serif;
}

    
.underline {
  height:0.36rem;
  width:0%;
  transition: width 0.3s;
  background-color: #ffae00;
}

.underlinenest {
  height:0.36rem;
  width:0%;
  transition: width 0.3s;
  background-color: #ffae00;
}

li:hover > a > div > div > .underline{
  width: 100%;
}

.nest:hover a div .underline{
  width: 100%;
}

li:hover svg{
  color: black;
}

nav ul li a {
  color: #212121;
  font-size: 17px;
}

nav ul li a .nab-prim{
  letter-spacing: 0.32px;
  line-height: 30px;
  list-style-type: disc;
  vertical-align: baseline;
}

nav ul li {
  margin-right: 35px;
}

 ul li ul {
  visibility: hidden;
  position: absolute;
  transition: all 0.3s ease-in-out 0.2s;
  margin-top: 106px;
  opacity: 0;
}

ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

nav div div.contact-button {
  background-image: url("https://uploads-ssl.webflow.com/60c74fe5b452ab1532ecd76b/60cf7833102e0b25d74dba9a_Group%2048.svg");
  background-color: #000000; /* Used if the image is unavailable */
  height: 48px; /* You must set a specified height */
  width: 145px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.navbar{
  background-color: white;
  position: relative;
  height: 100px;
  z-index: 50;
}

.hero {
  position: relative;
}

.hero-background {
  position: relative;
}

.home-1 {
  position: relative;
  top: -35px;
  right: -700px;
  width: 80%;
  height: 80%;
  z-index: 20;
}

.home-2 {
  position: relative;
  top: -920px;
  left: 670px;
  z-index: 10;
}

.home-3 {
  position: relative;
  top: -1220px;
  right: 750px;
  z-index: 10;
}

.home-4 {
  position: relative;
  top: -2000px;
  right: 30px;
  width: 375px;
  height: 136px;
  z-index: 10;
}

.rotate {
  animation: fade-in 4s,rotation 50s infinite linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.right-left-anime {
  transition:all 1s;
  animation: rla 1s;
}

@keyframes rla {
  from {
    opacity: 0;
    right: -800px;
  }
  to {
    opacity: 1;
    right: -700px;
  }
}

.hero .main-hero{
  position: relative;
  top: -2050px;
  left: 120px;
  z-index: 30;
}

.hero .main-hero .primery{
  
  font-size: 50px;
}

.hero .main-hero .secondery{
  
  color: #ffc13e;
  font-size: 50px;
}

.hero .main-hero p{

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  
}

.hero .main-hero h3 {

  text-transform: capitalize;

}

.hero .main-hero .contacts {
  display: flex;
}

.hero .main-hero .contacts div {
  margin-right: 30px;
}