@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  overflow-x: hidden;
}

h1, p {
  font-family: Lato;
}

.dd-font {
  font-family: 'IBM Plex Mono', monospace;
}
.dd-menu {
  font-family: 'Open Sans', sans-serif;
}

button h1 {
  z-index: 50;
}

.contact div svg {
  z-index: 10;
}
    
.underline {
  height:0.36rem;
  width:0%;
  transition: width 0.3s;
  background-color: #ffae00;
}

.underlinenest {
  height:0.36rem;
  width:0%;
  transition: width 0.3s;
  background-color: #ffae00;
}

li:hover > a > div > div > .underline{
  width: 100%;
}

.nest:hover a div .underline{
  width: 100%;
}

li:hover > a > span > svg{
  color: black;
}

nav ul li a {
  color: #212121;
  font-size: 17px;
}

nav ul li a .nab-prim{
  letter-spacing: 0.32px;
  line-height: 30px;
  list-style-type: disc;
  vertical-align: baseline;
}

nav ul li {
  margin-right: 35px;
}

 ul li ul {
  visibility: hidden;
  position: relative;
  transition: all 0.3s ease-in-out 0.2s;
  opacity: 0;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-icons{
  transition: all 0.3s;
}

.social-icons:hover {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

nav ul li ul {
  margin-top: 106px;
}

ul li ul li ul {
  position: relative;
  left: 160px;
  margin-top: -30px;
}

ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

nav div div.contact-button {
  background-image: url("https://uploads-ssl.webflow.com/60c74fe5b452ab1532ecd76b/60cf7833102e0b25d74dba9a_Group%2048.svg");
  background-color: #000000; /* Used if the image is unavailable */
  height: 48px; /* You must set a specified height */
  width: 145px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.navbar{
  background-color: white;
  position: relative;
  height: 100px;
  z-index: 50;
}

.hero {
  position: relative;
}

.hero-background {
  position: relative;
  height: 100vh;
}

.home-1 {
  position: relative;
  top: -35px;
  right: -700px;
  z-index: 20;
}

.home-2 {
  position: relative;
  top: -1030px;
  left: 680px;
  z-index: 10;
}

.home-3 {
  position: relative;
  top: -1320px;
  right: 750px;
  z-index: 10;
}

.home-4 {
  position: relative;
  top: -2130px;
  right: 30px;
  width: 375px;
  height: 136px;
  z-index: 10;
}

.rotate {
  animation: fade-in 4s,rotation 50s infinite linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.right-left-anime {
  transition:all 1s;
  animation: rla 1s;
}

@keyframes rla {
  from {
    opacity: 0;
    right: -800px;
  }
  to {
    opacity: 1;
    right: -700px;
  }
}

.hero .main-hero{
  position: relative;
  top: -400px;
  left: 120px;
  z-index: 30;
}

.hero .main-hero .primery{
  display: inline-block;
  line-height: 1em;
  font-size: 50px;
  color: #212121;
}

.hero .main-hero .secondery{
  display: inline-block;
  line-height: 1em;
  color: #ffc13e;
  font-size: 50px;
}

.hero .main-hero p{

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  
}

.hero .main-hero h3 {

  text-transform: capitalize;

}

.hero .main-hero .contacts {
  display: flex;
}

.hero .main-hero .contacts div {
  margin-right: 30px;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

.hero .about-me {
  margin: 0 100px 100px;
}

.hero .about-me > div{
  display: flex;
  justify-content: center;
  align-items : center;
  margin: 0 30px 0;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  z-index: 30;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s;
  background-color: white;
}
.hero .about-me > div div{
  display: flex;
  justify-content: center;
  align-items : center;
}

.hero .about-me > div:hover{
  transform: translateY(-30px);
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.2);
}
.hero .about-me .check-icon1{
  color: black;
  
}
.hero .about-me .check-icon2{
  color: #FFC13E;
}
.hero .about-me .check-icon3{
  color: #F2F1F1;
  background-image: radial-gradient(circle, black 65%, white 10%);
}

.hero .about-me .arow{
  color: #ADADAD;
}

.hero .about-me > div:hover .arow-icon{
  color: #212121;
}

.hero .about-me > div:hover .arow-icon2{
  color: #FFC13E;
}

.section-content div{
  position: relative;
}

.vhead {
  position: relative;
  top: 80px;
  /* Border is the new background */
  background: none;
  color: #adadad;
  white-space: nowrap;
  
  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(270deg);

}

.vl{
  border-left: 1px solid #adadad;
  height: 50px;
  position: relative;
  
  top: 10%;
}

.section-header span {
  font-size: 36px;
  color: #212121;
  font-weight: 700;
  line-height: 52px;
  font-family: 'IBM Plex Mono', monospace;
}

.section-paragraph p {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}

.section-content .about-follow {
  color: #212121;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 30px;
}

.section-content .about-social h1{
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.875;
}

.skills {
  margin: 50px 100px 0;
  height: 100vh;
}

.skills > div {
  display: flex;
  justify-content: center;
}

.skills .skills-content h3{
  color: #212121;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.skills .my-skills .sk-infobox-warp {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 11px 10px 38px 0px rgb(0 0 0 / 10%);
  transition: 0.4s;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  position: relative;
  vertical-align: baseline;
  width: 272.5px;
}

.skills .my-skills .sk-infobox-warp:hover .content-warp .sk-infobox-content{
  font-size: 14;
  color: #c6c6c6;
}

.skills .my-skills .sk-infobox-warp .icon-warp .sk-icon {
  display: flex;
  justify-content: center;
}

.skills .my-skills .sk-infobox-warp .icon-warp {
  margin: 3px 0 30px;
}